#headTop {
	position: static;
	height: 10px;
	padding-top: 10px;
}

#logo {
	float:left;
	width:10%;
	padding-left: 10%;
}
#casaMerci {
	float: left;
	top:0;
	left:0;
	width:39%;
	padding-left: 11%;
	padding-top: 15px;
} 
#login {
	float: left;
	top:0;
	right:0;
	width:10%;
}

#formLogin {
	width: 200px;
	padding-top: 50px;
}

#conteudo{
	float: left;
	padding-left: 160px;
}
 
#menu {
	width: 1250px;
	height: 50px;
}
#menu ul{
	list-style-type: none;
}

#barraNav li a {
	float: left;
	text-align: center;
	text-decoration: none;
	color: black;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#barraNav > li:first-child {
	padding-left: 120px;
}
#barraNav > li > a > span {

	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	font-size: 15px;
	text-transform: uppercase;
	font-family: Comic;
}

#barraNav > li > a > span.negado {

	white-space: nowrap;
	text-align: center;
	cursor: no-drop;
	font-size: 15px;
	color: gray;
	text-transform: uppercase;
	font-family: Comic;
}

#menu span:hover {
	color: gray;
	/*font-weight: bolder;*/
}

#menu ul li {
	float: left;
	text-align: center;
}

#menu li ul {
	position: absolute;
	visibility: hidden;
	margin-top: 0px;
}

#menu ul li ul li a {
	clear: both;
	margin-left: 4px;
	position: relative;
	width: 140px;
	background-color: white;
	left: -45px;
	height: 30px;
	font-size: 12px;
	text-transform: uppercase;
	border-bottom: 1px solid;
	border-left: 1px solid;
	padding-left: 2px;
}
#menu ul li ul {
	display: block;
	width: 127px;
}
#menu li:hover > ul {
	visibility: visible;
	margin-left: 2px;
	margin-top: 30px;
}

#menu p{
	padding-left: 150px;
}