#container{
	background: lightblue;
}

#excertoPai{
	width: 70%;
	border: 1px solid;
	margin: auto auto;
}

#excertoTable{
	width: 100%;
	position: relative;
	margin: auto auto;
	height: 200px;
	border: 1px solid;

}

#publicacaoPai{
	border: 1px solid;
}

#publicacaoContainer{
	width: 70%;
	margin: auto auto;
	height: 150px;
	background-color: green;
}

#publicacao1{
	float: left;
	height: 100%;
	background: yellow;
	width:calc(80%/3);
}

#publicacao2{
	float: left;
	height: 100%;
	background: white;
	width:calc(80%/3);
}

#publicacao3{
	float: left;
	height: 100%;
	background: blue;
	width:calc(80%/3);
}

#separador{
	float: left;
	height: 100%;
	width: 10%;
	background: purple;
}

#apresentacaoPai{
	height: 150px;
	width: 50%;
	margin: auto auto;
}

#apresentacao{
	float: left;
	height: 100%;
	background: black;
	width: 45%;
}

#valencias{
	float: right;
	height: 100%;
	background: orange;
	width: 45%;
}

#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
}

#slider li{ 
	width:696px;
	height:241px;
	overflow:hidden; 
}

	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}