body{
	background: lightblue;
}

#excertoPai{
	width: 70%;
	margin: auto auto;
	border: 2px solid;
}

#excertoTable{
	width: 100%;
	position: relative;
	margin: auto auto;
	height: 200px;

}

#publicacaoPai{
	float: clear;
}

#publicacaoContainer{
	width: 80%;
	margin: auto auto;
}

.pub{
	float: left;
	background-color: white;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 2px solid #104285;
	padding: 10px 10px;
	margin: 50px 20px;
	overflow: auto;
    display: block;
    height: 375px;
    width: 20%;
}

#publicacao1{

}

#publicacao2{

}

#publicacao3{

}

#separador{
	float: left;
	height: 350px;
	width: 50px;
}

#apresentacaoPai{
	clear: both;
	height: 150px;
	width: 50%;
	margin: auto auto;
}

#apresentacao{
	float: left;
	background-color: white;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 2px solid #104285;
	padding: 10px 10px;
	margin: 0;
	overflow: auto;
    display: block;
	height: 100%;
	background: black;
	width: 45%;
	height: 400px;
}

#valencias{
	float: right;
	background-color: white;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 2px solid #104285;
	padding: 10px 10px;
	margin: 0;
	overflow: auto;
    display: block;
	height: 100%;
	background: orange;
	width: 45%;
}

#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
}

#slider li{ 
	width:696px;
	height:241px;
	overflow:hidden; 
}

	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}