body {
	background-color: lightblue;
}

#container{
	width: 80%;
	margin: auto auto;
}

#titulo{
	width: 100%;
	height: 60px;
	padding-left: 60px;
}

#conteudo{
	height: 500px;
	background: blue;
}

#imagem{
	float: left;
	width: 50%;
	height: 500px;
	background: yellow;
}

#texto{
	float: left;
	width: 50%;
	height: 400px;
	background: green;
}

#autores{
	float: right;
	width: 50%;
	height: 100px;
	background: pink;
}

input, textarea, a{
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

textarea {
    resize: none;
    display: inline-block;
}

#corpo {
	vertical-align: top;
}

a {
	text-decoration: none;
	color: black;
}