body {
	background-color: lightblue;
}

#container{
	width: 80%;
	margin: auto auto;
}

#titulo{
	width: 100%;
	height: 60px;
	padding-left: 60px;
}

#conteudo{
	height: 500px;
	background: blue;
}

#imagem{
	float: left;
	width: 50%;
	height: 500px;
	background: yellow;
}

#texto{
	float: left;
	width: 50%;
	height: 400px;
	background: green;
}

#autores{
	float: right;
	width: 50%;
	height: 100px;
	background: pink;
}