.rodape {
	/*display: table;*/
	font-family: Verdana;
	font-size: 14px;
	background-color: #00FFFF;
	
}

.rodape_esq {
    background-color: #FFFF00;
	padding: 15px;
    float: left;
	width: 30%;
	height: 100px;
	border-right-style: groove;
	border-right-width: 2px;
}
.rodape_cen {
    background-color: #99CCFF;
	padding: 15px;
	float: left;
	height: 100px;
	width: 30%;
	border-right-style: solid;
	border-right-width: 1px;
}
.rodape_dir {
    background-color: #00FF00;
	padding: 15px;
	float: left;
	width: 30%;
    height: 100px;
	text-align: right;
}